# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# Virtual Environment
# ========================
venv/
env/
.venv/

# ========================
# Django
# ========================
db.sqlite3
*.log

# ========================
# Migration cache
# ========================
**/migrations/__pycache__/

# ========================
# VS Code / IDE
# ========================
.vscode/
.idea/

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# Environment variables
# ========================
.env